body {
    background-color: black;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.5;
    text-align: left;
}

.container {
    color: #ffffff;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.text-container {
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    font-weight: 1000;
}

.header {
    background-color: #464E2E;
    color: #ffffff;
    padding: 30px;
    text-align: center;
}

.section {
    padding: 0.5rem 2rem 1rem 2rem;
}

.section:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

.image-container img {
    max-width: 100%;
    /* Makes the image scale within the container */
    height: auto;
    /* Allows the image's height to adjust automatically based on the width */
    position: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 3rem;
}

h2 {
    font-size: 6rem;
    font-weight: 1000;
}

h5 {

    font-size: 1rem;
    font-weight: 600;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding-left: 100px;
    padding-right: 100px;

    text-align: center;
}

button,
input[type="submit"] {
    background-color: #d9edff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}


input[type="text"] {
    line-height: 1.8;
    width: 25%;
}

input[type="text"]:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

footer {
    text-align: center;
    padding: 3px;

    color: white;
    padding-top: 2px;
    font-size: .65rem;

}